<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="vue-boolzapp.css/vue-boolzapp.css">
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Boolzapp</title>
</head>
<body>
    <div id="container">
        <div class="container-top"></div>
        <div class="container-bottom"></div>
        <!-- /Backgoundcolor -->
        <div class="chat-container">
            <div id="nav-left">
                <div id="container-nav-header">
                    <div class="header nav">
                        <div class="avatar-img">
                            <img src="img/img_avatar_female.png" alt="">
                            <span>Sofia</span>
                        </div> 
                        <div class="icon header">
                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                    <div class="bell-notifiche">
                        <i class="fa-regular fa-bell-slash"></i>
                        <div class="notifiche">
                            Ricevi notifiche di nuovi messaggi
                            <p>Attiva notifiche desktop</p>
                        </div>
                    </div>
                    <div class="input-search">
                        <i class="fa-solid fa-magnifying-glass">
                          <input type="text" v-model="searchQuery" placeholder="Cerca o inizia una nuova chat">
                        </i>
                    </div>
                    <div class="for-contacts">
                        <ul>
                          <li v-for="(contact, index) in filteredContactsList" 
                          @click="changeContactChat(index)"
                          :class="{'current-interlocutor' : currentChat===index}">
                            <div class="avatar-img contact">
                              <img :src="contact.avatar" alt="">
                            </div> 
                            <div class="dati-contact">
                              <span>{{ contact.name }}</span>
                              <span class="time">{{contacts[currentChat].messages[0].date}}</span>
                            </div>
                        
                          </li>
                        </ul>
                    </div>
                </div>
            </div>
            <main id="main-container">
                <div class="header main">
                        <div class="avatar-img contact">
                          <img :src="contacts[currentChat].avatar"/>
                          <div>
                            <span>{{contacts[currentChat].name}}</span>
                            <span class="last-access">{{contacts[currentChat].messages[currentChat].date}}</span>
                          </div>
                        </div>
                        <div class="icon">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-paperclip"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                </div>
                <div class="current-chat">
                    <div
                    v-for="(message, index) in contacts[currentChat].messages"
                    >
                    <div class="row">
                        <div :class="message.status"
                          @click="toggleDropdown(index)">
                          <div v-if="message.active" class="toggle">
                            <p>Message info</p>
                            <p @click="deleteMessage(index)">Delete Message</p>
                          </div>
                          <p>{{message.message}}</p>
                          <span>{{message.date}}</span>
                          <i class="fas fa-chevron-down"></i>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="write">
                    <div class="emoticon">
                      <i class="far fa-smile"></i>
                    </div>
                    <div class="write-message">
                      <input type="text" name="" id="" placeholder="Scrivi un messaggio"
                      v-model="newMessage" @keyup.enter="sendMessage"
                      >
                    </div>
                    <div class="record-audio">
                      <i class="fas fa-microphone"></i>
                    </div>
                  </div>
            </main>
        </div>
    </div>
    

    <script src="vue-boolzapp.js/vue-boolzapp.js"></script>
</body>
</html>