/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* regole container  */
#container{
    position: relative;
}

.chat-container {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: calc(100vh - 75px);
    width: calc(100% - 250px);
  }

  .container-top {
    height: 150px;
    background-color: #029787;
  }

  .container-bottom {
    background-color: #d7dbd7;
    height: calc(100vh - 150px);
  }

/* regole header nav e main  */
.header {
    width: 100%;
    height: 60px;
    background-color: #eaeaea;
    border-left: #e1e1e1 solid 1px;
}
 /* regole nav-left  */
 
#nav-left {
    width: 30%;
    height: 100%;
    
}
#container-nav-header{
    height: 100%;

}
#nav-left input {
    padding: 10px 20px;
    border-radius: 10px;
    border-width: 1px;
    width: 85%;
    margin-right: 10px;
    margin-left: 5px;
}
#nav-left .input-search i {
    background-color: white;
    padding: 10px 10px;
    width: 100%;
}
#nav-left .header.nav {
    display: flex;
    justify-content: space-between;
}
.avatar-img img{
    max-width: 100%;
    border-radius: 20px 20px;
    line-height: 60px;
}

.avatar-img {
    height: 50px;
    padding: 5px 5px;
    display: flex;
}

.avatar-img span {
    line-height: 40px;
    margin-left: 5px;
}

.icon {
    line-height: 50px;
    font-size: 20px;
    color: gray;
    text-align: right;
    margin-right: 10px;
}

.icon i {
    margin-right: 10px;
}

#nav-left .bell-notifiche {
    background-color: #8edafc;
    height: 60px;
    display: flex;
    align-items: center;
}

#nav-left .bell-notifiche i {
    background-color: white;
    color: #8edafc;
    border-radius: 20px 20px;
    margin: 5px 5px;
    padding: 10px 10px;
    font-size: 20px;
}

#nav-left .bell-notifiche p {
    text-decoration: underline;
    color: gray;
}

.for-contacts{
    height: calc(100% - 180px);
    overflow: auto;
}

.for-contacts li{
    list-style: none;
    display: flex;
    padding: 15px 15px;
    cursor: pointer;

}
.for-contacts li:hover{
    background-color: #e9eaeb;
}
.avatar-img.contact {
    width: 20%;
}

.dati-contact {
    display: flex;
    justify-content: space-between; 
    width: 80%;
    align-items: center;
}
.dati-contact .time {
    color: gray;
}
 /* regole main-container  */
.header.main {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #dbdbd4;
}

.header.main .avatar-img {
    width: 40%;
}

.header.main > .avatar-img span {
    line-height: 1;
}

.current-chat {
    width: 100%;
    height: calc(100% - 120px);
    background-image: url("https://i.pinimg.com/originals/67/fd/ab/67fdab71c4a6af8af8d05c8f0001df56.jpg");
    padding: 20px;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.write {
    width: 100%;
    height: 60px;
    background-color: #dadbd4;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.write-message  {
    flex-grow: 1;
    margin: 0 20px;
}

.write-message input {
    width: 100%;
    height: 50px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: none;
    border: none;
    resize: none;
    overflow: auto;
    flex-grow: 1;
    margin: 0 10px;
}

.emoticon, .record-audio {
    font-size: 20px;
    text-align: center;
    color: grey;
}

span.last-access {
    display: block;
    font-size: 12px;
  }

.row {
    height: 100%;

}

/* messaggi  */

.sent {
    float: right;
    background-color: #ddf8c0;
}
.received {
    float: left;
    background-color: #fff;
}
.sent, .received {
    min-width: 30%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    position: relative;
}
.sent > p, .received > p {
    padding-bottom: 3px;
    padding-right: 20px;
}
.sent > span, .received > span {
    font-size: 15px;
    color: #c0c0c0;
    float: right;
}

.sent > i {
    position: absolute;
    top: 10px;
    right: 10px;
}

.received > i {
    position: absolute;
    top: 10px;
    right: 10px;
}

.toggle {
    width: 200px;
    height: 100px;
    position:absolute;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #C0C0C0;
  }


#main-container {
    width: 70%;
    height: 100%;
}
